* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wish-status-container {
  width: 340px;
  height: 200px;
  background: #FFF;
  box-shadow: 0px 1.81667px 6.8125px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  padding: 22px 16px 32px 16px;
}

.fulfiled-status-container {
  width: 340px;
  height: 422px;
  background: #FFF;
  box-shadow: 0px 1.81667px 6.8125px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  padding: 25px 16px 20px 16px;
  z-index: 0;
}

.fulfiled-status-container-2 {
  width: 340px;
  height: 265px;
  background: #FFF;
  box-shadow: 0px 1.81667px 6.8125px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  padding: 25px 16px 20px 16px;
  z-index: 0;
}

.status {
  font-family: 'Carbin', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #0E0E52;
}

.pending {
  font-family: 'Carbin', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #E4C940;
}

.complete {
  font-family: 'Carbin', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #19B344;
  margin-left: 5px;
}

.status-pending-box {
  display: flex;
  width: 150px;
  justify-content: space-between;
  align-items: center;
}

.status-group-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.status-date {
  font-family: 'Carbin', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #AEAEAE;
  margin-bottom: 10px;
}

.wish-content {
  font-family: 'Carbin', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #505050;
}

.yellowbox {
 margin-right: -138px;
}

.star {
  border-radius: 50%;
  padding: 2px;
  background: rgba(25, 179, 68, 0.2);
}

.fulfiled-by {
  font-family: 'Carbin', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #AAACAE;
  margin-top: 20px;
}

.fulfiled-name, .fulfiled-type {
  font-family: 'Carbin', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #909090;
  margin-top: 10px;
}

.fulfiled-slot, .otherwishes {
  font-family: 'Carbin', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #AAACAE;
  text-transform: uppercase;
  margin-top: 20px;
}

.fulfiled-profile-icon {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.icon {
  margin-right: -22px;
}

.num-of-wishes {
  font-family: 'Carbin', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #909090;
  margin-left: 30px;
}