* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wish-container {
  width: 1440px;
  background: #E5E5E5;
}

.wish-slots-container {
  width: 354px;
  height: 790px;
  position: absolute;
  top: 186px;
  left: 199px;
  background: #FFF;
  border-radius: 6px;
  padding: 32px 24px 0px 24px;
}

.wish-slots-container h3 {
  font-family: 'Carbin', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #3D3D3D;
  margin-bottom: 24px;
}

.wish-input {
  display: flex;
  align-items: center;
  width: 306px;
  height: 50px;
  border-radius: 6px;
  background: #FAFAFA;
  padding: 0 10px;
  cursor: pointer;
  margin-bottom: 24px;
}

.wish-input input{
  border: none;
  outline: none;
  margin-left: 10px;
  background: #FAFAFA;
  cursor: pointer;
}

.wish-input input::placeholder {
  font-family: 'Carbin', sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 15px;
  line-height: 14px;
  color: rgba(43, 48, 52, 0.4);
}

.wish-filter-option {
  width: 306px;
  background: #fff;
  height: 500px;
  box-sizing: border-box;
  border-radius: 3px;
  outline: none;
  padding: 0px 10px;
  margin-top: 20px;
  overflow-y: scroll;
}

.wish-filter-option::-webkit-scrollbar {
  background: #F9F9F9;
  width: 6px;
  border-radius: 6px;
}

.wish-filter-option::-webkit-scrollbar-thumb {
  width: 4px;
  height: 100px;
  background: #E1E1E1;
  border-radius: 6px;
  outline: 0;
}
.wish-filter-option div {
  margin-top: 15px;
  font-family: 'Carbin', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  color: #909090;
  cursor: pointer;
}

.wish-filter-option div:hover {
  color: #377CFF;
}

.wish-filter-option div.blue-text {
  color: #377CFF;
}

.option {
  font-family: 'Carbin', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  color: #3D3D3D;
  cursor: pointer;
  margin-bottom: 30px;
}

.wishbox-status {
  width: 768px;
  height: 790px;
  position: absolute;
  top: 186px;
  left: 593px;
  background: #FFF;
  border-radius: 6px;
  padding: 43px 24px 0px 24px;
}

.wishbox-status h3 {
  font-family: 'Carbin', sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 24px;
  line-height: 29px;
  color: #3D3D3D;
  margin-bottom: 10px;
}

.wishbox-status p {
  font-family: 'Carbin', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  color: #909090;
  margin-bottom: 33px;
}

.user-status-wrapper {
  display: flex;
  width: 728px;
  justify-content: space-between;
  margin-bottom: 40px;
}

.plus-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 30px;
  padding-bottom: 5px;
  width: 28px;
  height: 30px;
  border-radius: 50%;
  background: #377CFF;
  color: #FFF;
  margin: 0 auto;
}