* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.makewish-container {
  width: 1440px;
  background: #E5E5E5;
}

.form-container {
  width: 480px;
  height: 499px;
  position: absolute;
  top: 235px;
  left: 540px;
  background: #FFF;
  border-radius: 6px;
  padding: 28px 40px 40px 40px;
}

.form-container h2 {
  font-family: 'Carbin', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #3D3D3D;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container p {
  font-family: 'Carbin', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #909090;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 49px;
}

.form-container ::placeholder {
  font-family: 'Carbin', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #909090;
  padding-left: 13px;
}

label {
  font-family: 'Carbin', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 14px;
  color: #3D3D3D;
}

.form-container input {
  display: block;
  width: 400px;
  height: 50px;
  border: 1px solid #D6DAE1;
  border-radius: 3px;
  margin-top: 5px;
  margin-bottom: 32px;
}

.form-container textarea {
  display: block;
  width: 400px;
  height: 98px;
  border: 1px solid #D6DAE1;
  border-radius: 3px;
  margin-top: 5px;
  padding-top: 15px;
}

.form-container button {
  display: block;
  width: 400px;
  height: 50px;
  border-radius: 6px;
  background: #377CFF;
  font-family: 'Carbin', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  margin-top: 40px;
}

.arrow {
  position: absolute;
  top: 265px ;
  left: 475px;
}