* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fulfiled-content-container {
  width: 1440px;
  background: #E5E5E5;
  z-index: 999;
}

.fulfiled-wishbox-container {
  width: 1162px;
  height: 737px;
  position: absolute;
  top: 186px;
  left: 199px;
  background: #FFF;
  border-radius: 6px;
  padding: 24px 24px 27px 24px;
}

.fulfiled-wishbox-wrapper {
  display: flex;
  width: 1114px;
  justify-content: space-between;
  align-items: center;
  margin-bottom:24px ;
}