* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slots-header {
  position: absolute;
  top: 94px;
  left: 199px;
}

.slots-header h2 {
  font-family: 'Carbin', sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 36px;
  line-height: 44px;
  color: #3D3D3D;
}

.slots-header p {
  font-family: 'Carbin', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  color: #909090;
}

.slots-header a {
  text-decoration: none;
  cursor: pointer;
}