{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    [
      "module-resolver", {
        "root": ["./"],
        "alias": {
          "@": "./src",
          "@shared": "../shared"
        }
      }
    ],
    ["@babel/plugin-transform-runtime", {
      "corejs": 2
    }]
  ]
}